* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.mainb {
    max-width: 1920px;
    height: 830px;
    margin: auto;
    background-image: url("./images/Vice-city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 1216px;
    height: 94.7368392944336px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
    top: 15px;
}

.png {
    width: 150px;
    height: 20px;
}

.t1 {
    width: 504px;
    height: 94.7368392944336px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

.but1 {
    width: 150px;
    height: 55.657894134521484px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
}

.tyx {
    display: none;
}

.deep {
    width: 780px;
    height: 351.31591796875px;
    color: white;
    margin-left: 125px;
    margin-top: 140px;
}

.pages {
    display: none;
}

.gext {
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.hbtn {
    width: 210px;
    height: 75px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 30px;
    background: linear-gradient(#61B5E4, #016CA8);
}

.main {
    width: 1150px;
    height: 1060px;
    margin: auto;
    margin-top: 65px;
}

.wrap {
    width: 1150px;
    height: 430px;
    display: flex;
    margin-top: 100px;
}

.main p {
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
}

.wrap h1 {
    font-size: 24px;
    font-weight: 600;
    color: #2F88BC;
}

.wrap h3 {
    font-weight: 300;
    font-size: 20px;
    color: #000000be;
}

.butt {
    width: 326px;
    height: 65px;
    margin-top: 60px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
}

.mini1 {
    width: 690px;
    height: 400px;
}


/* 2 */
.wrap2 {
    width: 1150px;
    height: 430px;
    display: flex;
    margin-top: 90px;
    flex-direction: row-reverse;
}

.wrap2 h1 {
    font-size: 24px;
    font-weight: 600;
    color: #2F88BC;
}

.wrap2 h3 {
    font-weight: 300;
    font-size: 20px;
    color: #000000be;
}

.butt2 {
    width: 326px;
    height: 65px;
    margin-top: 60px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
}

.mini12 {
    width: 685px;
    height: 400px;
}

.mini22 {
    width: 42%;
    height: 400px;
}

/* new section */

.main2 {
    width: 1215px;
    height: 463px;
    margin: auto;
    margin-top: 20px;
}

.main2 p {
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
}

.rap {
    width: 1215px;
    height: 400px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 {
    width: 380px;
    height: 360px;
    box-shadow: 0px 0px 5px gray;
}

.mig {
    margin-top: 60px;
    margin-left: 140px;

}

.yt {
    width: 300px;
    height: 145px;
    margin: auto;
    margin-top: 25px;
}

.yt h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.yt h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}


.bgim{
    max-width: 1920px;
    height: 600px;
    margin: auto;
    margin-top: 90px;
    background-image: url("./images/Group\ 757.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btw{
    width: 1200px;
    height: 290px;
    margin: auto;
    position: relative;
    top: 150px;
    text-align: center;
}

.btw h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
    background-color: #07AF91;
}

.btw h3{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.gojo{
    width: 338px;
    height: 75px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 30px;
    background: linear-gradient(#61B5E4, #0171b3);
}











@media (max-width:510px) {
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    .mainb {
        width: 100%;
        height: 740px;
        background-image: url("./images/Vice-city.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header {
        width: 320px;
        height: 94.7368392944336px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        position: relative;
        top: 15px;
    }

    .png {
        width: 130px;
        height: 18px;
    }

    .t1 {
        display: none;
    }

    .but1 {
        width: 88px;
        height: 40px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        background-color: #07AF91;
        border: none;
        border-radius: 10px;
    }

    .pages {
        display: flex;
    }

    .deep {
        width: 346px;
        height: 350px;
        color: white;
        margin: auto;
        margin-top: 100px;
    }

    .gext {
        width: 346px;
        height: 411px;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .hbtn {
        width: 235px;
        height: 55px;
        border: none;
        border-radius: 0%;
        font-size: 17px;
        font-weight: 600;
        color: white;
        position: relative;
        top: -100px;
        left: 60px;
        background: linear-gradient(#61B5E4, #016CA8);
    }

    .tyx {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        position: relative;
        top: -140px;
    }

    .net {
        display: none;
    }



    /* Smth new */

    .main {
        width: 320px;
        height: 1325px;
        margin: auto;
        margin-top: 200px;
        text-align: center;
    }

    .wrap {
        width: 330px;
        height: 606px;
        flex-direction: column-reverse;
    }

    .mini1 {
        width: 320px;
        height: 335px;
        text-align: center;
        margin: auto;
    }

    .mini2 {
        width: 320px;
        height: 270px;
        margin: auto;
    }

    .gemini {
        width: 100%;
    }

    .main p {
        font-size: 30px;
        font-weight: 700;
        color: #1178B2;
    }

    .wrap h1 {
        font-size: 20px;
        font-weight: 600;
        color: #2F88BC;
    }

    .wrap h3 {
        font-size: 21px;
        gap: 200px;
        color: #000000be;
    }

    .butt {
        width: 330px;
        height: 65px;
        margin-top: 60px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        background-color: #07AF91;
        border: none;
        border-radius: 0%;
    }



    /* 2 */
    .wrap2 {
        width: 330px;
        height: 606px;
        padding-top: 120px;
        flex-direction: column-reverse;
    }

    .mini12 {
        width: 320px;
        height: 335px;
        text-align: center;
        margin: auto;
    }

    .mini22 {
        width: 320px;
        height: 270px;
        margin: auto;
    }

    .gemini {
        width: 100%;
    }

    .main2 p {
        font-size: 30px;
        font-weight: 700;
        color: #1178B2;
    }

    .wrap2 h1 {
        font-size: 20px;
        font-weight: 600;
        color: #2F88BC;
    }

    .wrap2 h3 {
        font-size: 21px;
        gap: 200px;
        color: #000000be;
    }

    .butt2 {
        width: 330px;
        height: 65px;
        margin-top: 60px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        background-color: #07AF91;
        border: none;
        border-radius: 0%;
    }

    /* new section */

    .main2 {
        width: 320px;
        height: 920px;
        margin: auto;
        margin-top: 500px;
    }

    .main2 p {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        color: #1178B2;
    }

    .rap {
        width: 330px;
        height: 920px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        width: 320px;
        height: 290px;
        box-shadow: 0px 0px 5px gray;
    }

    .mig {
        margin-top: 60px;
        margin-left: 107px;

    }

    .yt {
        width: 300px;
        height: 145px;
        margin: auto;
        margin-top: 25px;
    }

    .yt h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;

    }

    .yt h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }

}